.instagram {
    background: #0e1538;
    width: 100%;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}
.instagram>h1 {
    position: absolute;
    color: #fff;
    top: 10%;
}
.dias,
.beks {
    width: 16.5rem;
    height: 29rem;
    background-color: #0e1538;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 10px;
    border-radius: 1rem;
    z-index: 1;
}
.dias::before,
.beks::before {
    content: '';
    position: absolute;
    z-index: -2;
    width: 5rem;
    height: 200%;
    /* bottom: 0; */
    top: -50%;
    left: 35%;
    /* right: 0; */
    background: linear-gradient(#00ccff, #d400d4);
    animation: box 4s linear infinite;
}
.dias::after,
.beks::after {
    content: '';
    position: absolute;
    inset: 0.3rem;
    background: #fff;
    border-radius: 1rem;
    z-index: -1;
}
@keyframes box {
    0%{ 
       transform: rotate(0deg); 
       
    }
    100% {
        transform: rotate(360deg);
    }
}
.profile {
    position: relative;
    height: 5rem;
    width:7rem;
    margin: 1rem 0;
    left: 20%;
}
.ava {
    position: absolute;
    left: -75%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    background: grey;
    border: 3px double purple;
}
.ava>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.name {
    height: 2rem;
    width: 7rem;
    font-size: .8rem;
}
.description {
    font-size: .75rem;
}
.posts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem .6rem;
}
.posts::after {
    height: 3px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: -1%;
    left: 0;
    background-color: grey;
}
.posts>img {
    margin: 0.2rem;
    width: 4rem;
    background: grey;
}