/* Preview */
.preview {
    animation: preview 4s ease;
    background-color: #fff;
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.preview__loading,
.preview__poweredby {
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}
.preview__loading {
    animation: loader 2s ease;
}
.preview__loading>img{
    width: 50vw;
    height: 15vw;
    /* object-fit: cover; */
}
.preview__poweredby {
    animation: loader_2 2s ease 2s;
}
.preview__poweredby>img {
    width: 90vw;
    height: 15vw;
    /* object-fit: cover; */
}

@keyframes preview {
    0% {
        opacity: 1;
        position: fixed;
        z-index: 1;
        height: 100vh;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    75% {
        opacity: 1;
        z-index: 1;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    100% {
        opacity: 0;
        position: fixed;
        height: 100vh;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
@keyframes loader {
    0% {
        opacity: 0;
        visibility: visible;
        width: 100vw;
        height: 20vw;
    }
    50% {
        opacity: 1;
        visibility: visible;
        width: 50vw;
        height: 20vw;
    }
    
    100% {
        opacity: 0;
        visibility: visible;
        width: 50vw;
        height: 15vw;
    }
}
@keyframes loader_2 {
    0% {
        opacity: 0;
        visibility: visible;
        width: 100%;
        height: 20vw;
    }
    60% {
        opacity: 1;
        visibility: visible;
        width: 90vw;
        height: 20vw;
    }
    
    100% {
        opacity: 0;
        visibility: visible;
        width: 90vw;
        height: 15vw;
    }
}